.kontener {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1 {
    border-style:groove;
    padding: 20px;
    padding-left: 130px;
    padding-right: 130px;
}

img {
    width: 150px;
    height: 150px;
}

.box2 {
    border-style: groove;
    padding: 43px;
}

.box3 {
    border-style: groove;
    padding: 10px;
    display: flex;
}

.silnik {
     margin: 10px;
}
