.kontener {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1 {
    border-style:groove;
    padding: 110px;
    padding-left: 130px;
    padding-right: 130px;
    align-self: center;
}

img {
    width: 150px;
    height: 150px;
}

.box2 {
    border-style: groove;
    padding: 42px;
}

.box3 {
    border-style: groove;
    padding: 20px;
    padding-left: 85px;
    padding-right: 85px;
    display: flex;
}

.silnik {
     margin: 20px;
}

.box4 {
    border-style: groove;
    padding: 20px;
    display: flex;   
}
